body {
  font-family: Arial, sans-serif;
  padding: 20px;
  background: #f1f1f1;
}

h1 {
  text-align: center;
}

#user_input {
  margin-top: 2.5vh;
  margin-bottom: 5vh;
}

#conteudo {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: 30vw;
}

#tabela {
  margin-top: 2vh;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#diretorios {
  margin-top: 5vh;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.bucket {
  display: flex;
  align-items: center;
  margin-bottom: 10px; /* Espaçamento maior */
}

.pointer {
  width: 60px;
  font-weight: bold;
  text-align: right;
  margin-right: 10px;
}

.block {
  display: flex;
  gap: 5px;
  border: 1px solid #aaa;
  padding: 5px;
  background-color: #fff;
  position: relative;
  margin-top: 10px;
}

.block::after {
content: attr(data-id) ' (LD ' attr(data-depth) ')';
  position: absolute;
  top: -22px;
  left: 0;
  font-size: 13px;
  color: #555;
  pointer-events: none;
  z-index: 0;
}

.cell {
  width: 40px;
  height: 40px;
  border: 1px solid #333;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e0e0ff;
  font-weight: bold;
}
